<app-content>
  <div class="mx-auto w-100">
    <h2 class="text-center mb-3">Novo Usuário</h2>
    <br>
    <form (submit)="addUser()">
        <div class="col-md-12 form-group mb-3">
          <label for="name" class="form-label">Nome</label>
          <input id="name" [(ngModel)]="user.name" type="text" name="name" class="form-control" required>
        </div>

        <div class="col-md-12 form-group mb-3">
          <label for="email" class="form-label">Email</label>
          <input id="email" type="email"  [(ngModel)]="user.email" name="email" class="form-control"  required>
        </div>


      <div class="col-6 col-12-small">
        <input type="checkbox" id="verifed_email" name="verifed_email" [(ngModel)]="user.verifed_email">
        <label for="verifed_email">Email verificado: </label>
      </div>

      <div class="row">
        <div class="col-md-12 form-group mb-3">
          <label for="password" class="form-label">Senha</label>
          <input id="password" type="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="password" required>
        </div>
      </div>      


      <br>
      <div class="col-md-12 d-flex justify-content-center">
        <input class="button col-md-4" type="submit" value="Salvar">
        <button class="button primary col-md-4" routerLink="/users">Cancelar</button>
      </div>
      
  </form>
  </div>
</app-content>
