<app-content>
  <h2 class="text-left mb-3">Atualizar Usuário</h2>
  <br>
  <form  (submit)="updateUser()" >
    <div class="row">
      <div class="col-md-6 form-group mb-3">
        <label for="name" class="form-label">Nome</label>
        <input id="name" [(ngModel)]="user.name" type="text" name="name" class="form-control" required>
      </div>
    </div>
              
    <!--Email-->
    <div class="row">
      <div class="col-md-6 form-group mb-3">
        <label for="email" class="form-label">Email</label>
        <input id="email" type="email"  [(ngModel)]="user.email" name="email" class="form-control"  required>
      </div>
    </div>

        <!--Verifed email-->
    <div class="row">
      <div class="col-md-6 form-group mb-3">
        <input class="form-check-input" type="checkbox" [(ngModel)]="user.verifed_email" id="verifed_email">
        <label class="form-check-label" for="defaultCheck1">
          Email Verificado
        </label>
      </div>
    </div>

    <!--Password-->
    <div class="row">
      <div class="col-md-6 form-group mb-3">
        <label for="password" class="form-label">Senha</label>
        <input id="password" type="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="password" required>
      </div>
    </div>
        
    
    <div class="row">
      <div class="col-md-3 form-group">
        <input class="btn btn-primary w-100" type="submit" value="Atualizar">
      </div>
    </div>
  </form>
</app-content>