<app-content>
    <h1 class="text-center">Usuários</h1>

    <button class="button" routerLink="/add-user">Adicionar</button>
    <br>
    <table class="mat-elevation-z8" style="margin-top: 15px;">
      <thead>
        <tr>
          <th scope="col" >Id</th>
          <th scope="col" >Nome</th>
          <th scope="col" >Email</th>
          <th scope="col" >Email verificado</th>
          <th scope="col" >Dt. Criação</th>
          <th scope="col" >Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <th scope="row">{{user.id}}</th>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.verifed_email  ? 'Sim' : 'Não'}}</td>
          <td>{{user.date_creation | date:'dd/MM/yyyy' }}</td>
          <td>
            <button class="button icon solid fa-edit" routerLink="/update-user/{{user.id}}"></button>
            <button type="button" class="button icon solid fa-search" data-bs-toggle="modal" data-bs-target="#viewUser" (click)="openPainel(user.id)"></button>
            <button type="button" class="button primary icon solid fa-trash" data-bs-toggle="modal" data-bs-target="#confirmDelete" (click)="openConfirm(user.id)"></button>
          </td>
        </tr>
      </tbody>
    </table>

     <!-- Painel (Modal) -->
     <div class="modal" id="confirmDelete" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmDeleteLabel">Confirmação de Exclusão</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
          </div>
          <div class="modal-body">
              <p class="card-text">Você tem certeza de que deseja excluir este item?</p>         
          </div>
          <div class="modal-footer">
            <button type="button" class="button" data-bs-dismiss="modal" (click)="deleteUser()">Sim</button>
            <button type="button" class="button" data-bs-dismiss="modal">Não</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Painel (Modal) -->
    <div class="modal" id="viewUser" tabindex="-1" aria-labelledby="viewUserLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="viewUserLabel">Detalhes - Usuário</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
          </div>
          <div class="modal-body">
            <div class="col-md-12 form-group mb-3">
              <p><strong>Nome:</strong> {{ user.name }}</p>
              <p><strong>Email:</strong> {{ user.email }}</p>
              <p><strong>Último reset de senha:</strong> {{ user.date_last_pass_reset | date:'dd/MM/yyyy hh:mm'}}</p>
              <p><strong>Email verificado:</strong> {{ user.verifed_email ? 'Sim' : 'Não'}}</p>
              <p><strong>Data Criação:</strong> {{ user.date_creation | date:'dd/MM/yyyy hh:mm'}}</p>
              <p><strong>Data Atualização:</strong> {{ user.date_updated | date:'dd/MM/yyyy hh:mm'}}</p>
              
            </div>            
          </div>
          <div class="modal-footer">
            <button type="button" class="button" data-bs-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>
</app-content>
