<app-content>
    <h1 class="text-center">Usuários</h1>

    <button class="button" routerLink="/add-user">Adicionar</button>
    <br>
    <table class="mat-elevation-z8" style="margin-top: 15px;">
      <thead>
        <tr>
          <th scope="col" >Id</th>
          <th scope="col" >Nome</th>
          <th scope="col" >Email</th>
          <th scope="col" >Último reset de senha</th>
          <th scope="col" >Email verificado</th>
          <th scope="col" >Criação</th>
          <th scope="col" >Atualização</th>
          <th scope="col" >Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <th scope="row">{{user.id}}</th>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.date_last_pass_reset | date:'dd/MM/yyyy' }}</td>
          <td>{{user.verifed_email  ? 'Sim' : 'Não'}}</td>
          <td>{{user.date_creation | date:'dd/MM/yyyy' }}</td>
          <td>{{user.date_updated | date:'dd/MM/yyyy' }}</td>
          <td>
            <button class="button icon solid fa-edit" routerLink="/update-user/{{user.id}}"></button>
            <button class="button primary icon solid fa-trash" (click)="deleteUser(user.id)"></button>
          </td>
        </tr>
      </tbody>
    </table>
</app-content>
